/*
Democranet palette
http://www.colourlovers.com/palette/452030/you_will_be_free?widths=1

off white: #F7F9FE
light gray: #ECF1F2
gray: #555;
very light blue: #DCE8EB
Light Blue: #bed2d9;
sky-blue: #4e93aa;
dark-blue-gray: #24039e;
light-green: #9afa59;
green accent: #54cc03;
Orange: #c86c06;
dark orange accent: #c1540c;
light-orange: #fbad57;
*/
body {
	font-family: 'Quattrocento Sans', helvetica, arial, sans-serif;
	font-size: 16px;
	line-height: 1.4;
	background-color: #4e93aa;
	margin: 0;
}

/* ===== type ===== */

h1, h2, h3, h4, h5, th {
	font-family: 'Dosis', sans-serif;
	font-weight: 600;
	line-height: 1.2;
	margin-bottom: .5em;
}

p {
	font-size: 1em;
	font-weight: 400;
	margin-top: .2em;
	margin-bottom: .5em;
}

.bold  {
	font-weight: 700;
}


.italics  {
	font-style: italic;
}

#header h1 {
	margin-top:0;
	margin-bottom: 0;
}

.title	{
	font-size: 1.5em;
	margin: 0 0 .5em 0;
	font-weight: 700;
}

.title_sm	{
	font-size: 1.2em;
	margin: 0 0 .5em 0;
	font-weight: 700;
}

table {
	font-size: 1em;
}

footer {
	font-size: .85em;
}


/* ===== links ===== */

a, .btn {
	text-decoration: none;
	font-weight: 700;
	color: #30487a;
	-webkit-transition: all .1s linear;
	   -moz-transition: all .1s linear;
	    -ms-transition: all .1s linear;
	     -o-transition: all .1s linear;
	        transition: all .1s linear;
}

a:visited, .btn:visited	{
	color: #30487a;
}


a:hover, .btn:hover	{
	color: #000;
}


a:active, .btn:active	{
	color: #444;
}

.btn 	{
	display: inline-block;
	padding: 6px 12px;
	margin: 15px 0;
	border-radius: 6px;
	border: 2px solid #54cc03;
	color: #222;
	font-weight: 700;
	background-image: linear-gradient(#F7F9FE, #DCE8EB);
	cursor: pointer;
}

.btn:hover	{
	background-image: linear-gradient(#ECF1F2, #BED2D9);
}


/* ===== lists ===== */

nav ul {
	list-style-type: none;
	padding: 0 0 12px 0;
}

/* ===== forms ====== */

form {
	position: relative;
	display: block;
	margin: 20px;
}

input, textarea	{
	display: block;
	width: 100%;
	font-weight: 700;
	padding: 6px;
	border-radius: 6px;
	border: 2px solid #54cc03;
	color: #222;
}

input {
	height: 40px;
	line-height: 20px;
}


label	{
	display: block;
	color: #555;
	padding: 0;
	margin: 15px 0 3px 0;
	font-size: .8em;
	text-transform: lowercase;
}

/* ===== globals ===== */
.exceeded	{
	background-color : red;
}


.highlight
{
	background-color: #CBDBE0;
}


.hidden
{
	display: none;
}

/* ===== layout ===== */

#header 	{
	text-align: center;
	padding: 20px;
}



.container 	{
	margin: 0 auto;
	min-width: 300px;
	min-height: 780px;
	padding-bottom: 5px;
}

#login 	{
	text-align: right;
	padding-right: 6px;
}

#login p   {
	margin: 0;
}


.content  {
	margin: 5px 10px;
	padding: 10px;
	/*background-color: #F7F9FE;
	border-radius: 15px;
	border: 1px solid #BED2D9; */
}

footer	{
	position: relative;
	padding: 30px;
	background-color: #222;
	color: #;
}

#footer-wrap	{
	width: 100%;
	max-width: 940px;
}

footer p, footer li, footer div {
	color: #bed2d9;
}

footer nav 	{
	margin: 15px auto;
	
}

footer nav li {
	display: block;
	margin: 0 0 12px 0;
}

#copyright	{
	margin: 20px 0;
	clear: both;
	color: #555;
}

/* ===== home page ===== */

/* ===== login ===== */

#login_box {
	background-color: #9afa59;
	border: 10px solid #54cc03;
	border-radius: 20px 20px 0 0;
	padding: 20px;
	width: 90%;
	max-width: 600px;
	margin: 30px auto 100px;
	box-shadow: 0 0 20px 0 #222;
}

#login_box h3 {
	border-bottom: 2px solid #54cc03;
	margin-top: 0;
	margin-bottom: 20px;
}

#login_box p {font-weight: 700;}

#di_error
{
	width: 90%;
	margin: 10px auto;
	display: none;
}

#how-it-works {
	margin: 20px auto 60px;
}

#how-it-works h2 {text-align: center;}

.how-it-works-box {
	text-align: center;
	padding-bottom: 40px;
}

.hiw-graphic {
	display: block;
	width: 240px;
	height: 240px;
	margin: 0 auto 20px;
	background-color: #222;
	border-radius: 100%;
	border: 10px solid #54cc03;
	box-shadow: 0 0 20px 0 #222;
}

#votes 
{
	padding: 0;
	margin-top: 0;
	margin-bottom: 20px;
	text-align: center;
}

#votes li 
{
	font-size: 1.1em;
	display: inline;
	margin: 0 20px 0 0;
}

#votes li.label
{
	font-weight: bold;
	margin-right: 1px;
}

.with_img img
{
	position: relative;
	top: 18px;
}

#di_new_comment
{
	display: none;
	margin-bottom: 5px;
}

.with_btn .btn 
{
	position: relative;
	top: -4px;
	left: 10px;
}

/* Table that displays vote tally, e.g. positions on issue page */
.vote_tally
{
	border-collapse: collapse;
	width: 100%;
}

.vote_tally th, .vote_tally td
{
	border-bottom: solid 1px #BED2D9;
}


.vote_tally #th_c1
{
	min-width: 300px;
}


.vote_tally #th_c2
{
	vertical-align: bottom;
}

.vote_tally td img  {
	height: 25px;
}

.al
{
	text-align: left;
}

.ac
{
	text-align: center;
}

.ar
{
	text-align: right;
}

table.form
{
	width:100%;
}


table.form th
{
	vertical-align: top;
	text-align: right;
	width: 90px;
}

/* Reference Builder */
#di_RB {border: solid 1px gray}

#di_input span
{
	white-space: nowrap;
}

#di_input label
{
	margin-left: 5px;
	margin-right: 2px;
}

#di_buttons
{
	margin-top: 5px;
	margin-left: 5px
}

#di_refs
{
	margin: 5px;
}

/* Comments table */
#di_comments table
{
	width:100%;
	border-collapse: collapse;
}

#di_comments td
{
	border-bottom: 1px solid #BED2D9;
	border-top: 1px solid #BED2D9;
}

#di_error
{
	background: #fff2f2;
	border-style: solid;
	border-width: 2px;
	border-color: #ff0000;
	padding: 10px;
	margin: 20px auto;
}

#di_error p 
{
	font-weight: 700;
	margin: 0;
}





/* ===========================================================
============ media query max-width: 600px=====================
============================================================== */
@media (max-width: 600px) {

} /*end @media max-width 600px*/

/* ===========================================================
============ media query min-width: 768px=====================
============================================================== */
@media (min-width: 768px) {

	footer nav, #about {
		float: left;
		width: 40%;
		margin: 0 5%;
	}

	#copyright	{
		text-align: center;
	}

	/* ===== homepage =====*/
	
	

} /*end @media min-width 768px*/

/* ===========================================================
============ media query min-width: 992px=====================
============================================================== */

@media (min-width: 992px) {


} /*end @media min-width 992px*/

/* ===========================================================
============ media query min-width: 1200px=====================
============================================================== */

@media (min-width: 1200px) {


} /*end @media min-width 1200px*/