/* colors
cadet blue #326aa1
turquoise gray #75bbd4
powder blue: #cbdce4
rust orange #cb4e06
canary #f0f261
gray #666
*/


body {
	font-family: 'Quattrocento Sans', helvetica, arial, sans-serif;
	font-size: 100%;
	line-height: 1.4;
	background-color: #75bbd4;
}

h1, h2, h3, h4, h5 {
	font-family: 'Dosis', sans-serif;
	font-weight: 600;
	line-height: 1.2;
	margin-bottom: .5em;
}

h1 {
	font-size: 2.3em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.6em;
}

p {
	font-family: 'Quattrocento Sans', helvetica, arial, sans-serif;
	font-size: 1em;
	font-weight: 400;
	margin-bottom: .5em;
}

li {
	font-size: 0.9em;
}

.bold {font-weight: 700;}

table {
	font-size: 0.9em;
}

/* links */
a:link {
	text-decoration: none;
	color: #cb4e06;
	-webkit-transition: all .2s linear;
-moz-transition: all .2s linear;
-ms-transition: all .2s linear;
-o-transition: all .2s linear;
transition: all .2s linear;
}

a:visited {
	color: #cb4e06;
}

a:hover {
	color: #222;
}

a:active {
	color: #222;
}

#header h1 {
	margin-top:0;
	margin-bottom: 0;
}

#header h1 a {
color: #fff;
-webkit-transition: all .1s linear;
-moz-transition: all .1s linear;
-ms-transition: all .1s linear;
-o-transition: all .1s linear;
transition: all .1s linear;
}

#header h1 a:hover, #header h1 a:active {
	color: #cbdce4;
	text-decoration: none;
}

#container {
	margin: 0 auto;
	width: 1000px;
}

#login {
	text-align: right;
}

#login p {
	margin: 0;
}

#header {
	text-align: center;
	padding: 5px 0 0 5px;
}

#header h1 {
	font-size: 4em;
}

#container-content {
	width: 1000px;
}

#navigation-left {
	font-size: 0.9em;
	float: left;
	width: 145px;
	padding: 10px 0 0 5px;
	display: inline;
}

#navigation-left ul {
	margin: 0;
	padding: 0;
}

#navigation-left ul li {
	margin: 0 0 1em;
	padding: 0;
	list-style-type: none;
}





#content {
	min-height: 650px;
	float: left;
	width: 850px;
	padding: 10px 0;
}

#content h2 {
	margin: 0;
}

#content h3 {
	margin: 0 0 10px 0;
}

#footer {
	background: #f9f9f9;
	border-style: solid;
	border-width: 1px;
	border-color: #dddddd;
	font-size: 0.9em;
	clear: left;
	text-align: right;
	padding: 4px;
	height: 1%;
	color: gray;
}

#content th {
	text-align: left;
	vertical-align: top;
}

#vote_for {
	color: LimeGreen;
}

#vote_against {
	color: red;
}

ul#votes li {
	display: inline;
	margin: 0 25px 0 0;
}

ul#votes li.label {
	font-weight: bold;
	margin-right: 1px;
}

#new_comment {
	display: none;
}

#bu_follow {
	position: relative;
	top: -4px;
	left: 10px;
}
