#header {
	text-align: center;
}

#di_search {
	margin-top: 20px;
	text-align: center;
}

#di_search #bu_search_help {
	width: 30px;
	height: 30px;
	border: 0;
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-color: transparent;
	background-image: url('/img/help2.png');
	cursor: pointer;
	vertical-align: middle;
}

#di_search #in_search {
	width: 200px;
	padding: 5px;
}

#di_search #bu_search {
	width: 75px;
	height: 30px;
	border: 0;
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-color: transparent;
	background-image: url('/img/search.png');
	cursor: pointer;
	vertical-align: middle;
}

#di_search #bu_search:hover {
	background-image: url('/img/search1.png');
}

#di_quick {
	margin-top: 20px;
	text-align: center;
}

#di_quick button {
	width: 112px;
	height: 30px;
	border: 0;
	margin: 0 10px;
	padding: 0;
	background-repeat: no-repeat;
	background-color: transparent;
	cursor: pointer;
}

#bu_browse, #bu_find_candidates, #bu_find_groups {
	background-image: url('/img/browse.png');
}

#bu_browse:hover, #bu_find_candidates:hover, #bu_find_groups:hover {
	background-image: url('/img/browse1.png');
}

#di_results p.name {
	margin: 15px 0 0 0;
}

#di_results p.desc {
	margin: 5px 0 0 20px;
}

table#frames {
	width: 80%;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

table#frames .round_border {
	border: 1px solid gray;
	border-radius: 8px;
	width: 380px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	padding: 2px;
	overflow: scroll;
}

table#frames p {
	text-align: center;
	margin-bottom: 0;
}

img.im_label {
	display: block;
	margin: 10px auto 6px auto;
}
