#content th {
	text-align: left;
	vertical-align: top;
}

p.ref {
	margin-top: 10px;
	margin-bottom: 0;
}

#divRB {
	border: solid 1px gray;
	width: 760px;
}

.italics {
	font-style: italic;
}

#pos_title {
	font-weight: bold;
	font-size: 1.2em;
}

a.position {
	color: #000;
}

a.for {
	color: #66cc66;
}

a.against {
	color: #cc6666;
}

a.comment {
	color: #6666cc;
}

#positions table, #positions th, #positions td {
	border: 1px solid gray;
	border-collapse: collapse;
}

#positions #th_position {
	width: 60%;
	text-align: left;
}

#positions #th_your_vote {
	width: 10%;
	text-align: left;
}

#positions #th_add_vote {
	width: 20%;
	text-align: left;
}

#positions #th_comment {
	text-align: left;
}

.exceeded {
	background-color : red;
}

.highlight {
	background-color: #ccccff;
}

.hidden {
	display: none;
}