.title
{
	font-size: 1.5em;
	margin: 0 0 10px 0;
	font-weight: 700;
}

#description h1 
{
	font-size: 1.25em;
	margin: 10px 0 5px 0;
}

#description h2 
{
	font-size: 1em;
	margin: 10px 0 0 0;
}

#description p {margin: 0 0 5px 0}

#content th 
{
	text-align: left;
	vertical-align: top;
}

p.ref 
{
	margin-top: 0;
	margin-bottom: 10px;
}

span.counter {float: right}

#divRB 
{
	border: solid 1px gray;
	width: 760px;
}

#positions th, #positions td {border-bottom: solid 1px #BED2D9}

#positions #th_position {width: 500px}

#positions #th_your_vote 
{
	width: 100px;
	text-align: center;
	vertical-align: bottom;
}

#positions #th_citizens_for, #positions #th_citizens_against {
	text-align: center;
}

#positions td.ac
{
	text-align: center;
	font-size: 1.4em;
}