#actions table, #actions th, #actions td {
	border: 1px solid gray;
	border-collapse: collapse;
}

#actions #th_position {
	width: 60%;
	text-align: left;
}

#actions #th_your_vote {
	width: 10%;
	text-align: left;
}

#actions #th_add_vote {
	width: 20%;
	text-align: left;
}

#actions #th_comment {
	text-align: left;
}

